<% include partials/header.ejs %>

<%# <!-- unique page identifier --> %>
<div id="page-id-index" style="display: none"></div>

<img class="screen-loader" src="/images/screen-loader.png"></img>

<div class="meals-container">
	<% meals.forEach(function(meal){ %>

	<figure class="meal-box">
		<div class="meal-box__photo-box">
			<img class="meal-box__photo" src="/<%= meal.image %>">
		</div>

		<figcaption class="meal-box__caption">
			<h3 class="meal-box__heading"><%= meal.name %></h3>
			<p class="meal-box__date">
				<span class="date-phrase">date: </span>
				<span class="date"><%= meal.date %></span>
			</p>

			<%# <!-- if meal has ever been cooked, display count. Otherwise, display '0' --> %>
			<% if (meal.count > 0) { %>
			<p class="meal-box__cooked-times-counter">
				<span class="cooked-count-phrase">count: </span>
				<span class="count"><%= meal.count %></span>
			</p>
			<% } else { %>
			<p class="meal-box__cooked-times-counter">
				gotowane razy: 
				<span class="countZero"><%= meal.count %></span>
			</p>
			<% } %>
		</figcaption>

		<%# <!-- BUTTON TO CLICK WHEN A MEAL HAS BEEN COODED TODAY --> %>
		<button
			class="meal-box__button js-made-today"
			data-meal-id="<%= meal.id %>"
			data-last-made-on="<%= meal.date %>"
			>Had it today!
		</button>

	</figure>
	<% }); %>
</div>

<% include partials/footer.ejs %>
